h1 {
    text-align: center;
    color: white;
    font-size: 8vh;
}

.page {
    background-color: #d01919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

body {
    color: white;
    background-color: #d01919; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#icone {
    background-color: #d01919;
    border-radius: 50%;
    border: none;
    color: white;
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}


.timer{
    border-radius: 50%;
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c10000;
    border: 5px solid #ffd700;
    margin: 0 auto 7vh;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
    font-size: 15vh;
}


.boutons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c10000;
    margin-bottom: 10vh;
    font-size: large;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
    height: 15vh;
    width: 60vh;
    
}

.pause{
    background-color: #c10000;
    border: none;
    color: white;
    font-size: 6vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.travail{
    background-color: #c10000;
    border: none;
    color: white;
    font-size: 6vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#setting {
    background-color: #d01919;
    border-radius: 50%;
    border: none;
    color: white;
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#timeModal{
    display: none;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icone i, #setting i {
    font-size: 14vh; /* Taille de l'icône relative à la hauteur de la fenêtre */
}

@media (max-width: 768px) {
    #icone, #setting {
        height: 12vh; /* Ajustement pour tablettes */
        width: 12vh;
    }

    #icone i, #setting i {
        font-size: 10vh;
    }
}

@media (max-width: 480px) {
    #icone, #setting {
        height: 10vh; /* Ajustement pour smartphones */
        width: 10vh;
    }

    #icone i, #setting i {
        font-size: 8vh;
    }
}